<footer class="footer">
  <small>
    The NITK Complaint Forum by <a href="https://github.com/smarty1palak">Palak Singhal </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
<!--      <li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>
